<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C&L Accounting - Atendendo a área de Phoenix para serviços de Contador, Escrituração, Folha de Pagamento, Quickbooks Help e Fiscal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include ("partials/mainfooter") %> 
    <style>

        h1{
            color: white;
        text-align: center;
        margin-top: 150px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 40px;
        filter: drop-shadow(0 4px 3px rgb(0, 0, 0));
        }
        p{

text-align: center;
color: grey;
width: 550px;
font-size: 13px;
padding-top: 25px;
}

.final{
       position: absolute;
        color: grey;
        width: 550px;
        font-size: 13px;
        top: 725px;
        left: 500px;
        padding-bottom: 30px;
        
    }

        
    </style>
</head>
<body>

    <%- include ("partials/navbar") %> 

    <img class="clock" src="/clock.png" alt="clock" >


    <main>
        <h1>Sorry, this page is under maintenance...</h1>
        
       
        

    </main>

    <footer>

    <p>C&L Accounting, Inc. | 26815 North 31st Drive | Phoenix, Arizona 85083 | (602) 818-6339 | (candlaccounting@gmail.com)</p>

    </footer>

    <div>
        <p class="final">(c) 2010 C & L Accounting, Inc.</p>

    </div>
    
</body>
</html>