<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C&L Accounting - Atendendo a área de Phoenix para serviços de Contador, Escrituração, Folha de Pagamento, Quickbooks Help e Fiscal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include ("partials/mainfooter") %> 

<style>

    h2{

        color: white;
        position: relative;
        left: 30px;
        top: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 30px;
        filter: drop-shadow(0 4px 3px rgb(0, 0, 0));
    }
    
    .linha1{
        height: 2px;
        width: 620px;
        background-color: #15181E;
        position: relative;
        left: 30px;
       
    
    }

    .logotexto{
        width: 500px;
        height: 500px;
        position: relative;
        bottom: 150px;
        right: 180px;
        
    }

    .p1{
        position: relative;
        bottom: 490px;
        left: 150px;
        width: 500px;
        color: #15181E;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: justify
    }

    .p2{
        position: relative;
        bottom: 507px;
        left: 50px;
        width: 600px;
        color: #15181E;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: justify

    }

    .linha2{
        
        height: 293px;
        width: 1.5px;
        background-color: #15181E;
        position: relative;
        left: 670px;
        bottom: 813px;
    
    
    }

    h4{

        color: white;
        position: absolute;
        left: 700px;
        top: 18px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 25px;
        filter: drop-shadow(0 4px 3px rgb(0, 0, 0));
    
    }

    .p4{
        position: absolute;
        bottom: 125px;
        left: 690px;
        width: 190px;
        color: #15181E;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align:justify;
    

    }

    h3{
        color: white;
        position: relative;
        top: 10px;
        left: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 20px;
        filter: drop-shadow(0 4px 3px rgb(0, 0, 0));


    }

    .p5{
        position: relative;
        color: white;
        text-align: justify;
        left: 20px;
        width: 660px;


        

    }


    main{
        height: 440px;
    }

    .clock{
        top: 550px;
    }

    footer{

        top:660px;
        width: 700px;
        left: 400px;
        height: 120px;
    }

    
</style>
</head>
<body>

    <%- include ("partials/navbar") %> 

    <img class="clock" src="/clock.png" alt="clock" >


    <main>

        <h2>C&L Accounting, Inc.</h2>
        <div class="linha1"></div>
        <img class="logotexto" src="/Logo2.png">
        <p class="p1"> The solutions offered by C&L Accounting, Inc. come from the knowledge and 
            experience <br>
            we have acquired from over twenty years of serving a wide 
            spectrum of clients; both large and small. These industries include: advertising, architectural, auto dealerships, auto repair, construction, CPA firms, engineering, insurance, interior design, internet start-ups, jewelers, legal, manufacturing, 
            medical and dental practices, mortgage, real estate,<p class="p2"> restaurants, retail and wholesale. 
            Whether preparing personal or corporate income tax returns, preparing and reviewing financial statements or simply answering complex questions, we are always striving to help your business succeed. Extending to each client the utmost consideration, we develop and maintain strong relationships and treat all financial information with strict confidentiality. We are conscious of the state of the economy and the financial stresses of operating a business; accordingly, we provide valuable services at a reasonable rate.
        </p>

        </p>

        <div class="linha2"></div>

        <h4>Our Approach</h4>

        <p class="p4">We work with entrepreneurs to develop their businesses and meet their goals. We do more than accounting, we work actively with each client; always mindful of their personal objectives and tailoring our skills to meet their specific needs.</p>


       
        

    </main>

    <footer>

        <h3>Done Right The First Time</h3>

        <p class="p5">We take complex financial data and generate valuable, accurate, real-time financial statements; enabling you to make sound financial decisions based upon reliable information and time honored accounting principles.  This allows you to focus on your business while we handle all of your accounting needs.
        </p>





    </footer>

    <div>


    </div>
    
</body>
</html>