<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C&L Accounting - Atendendo a área de Phoenix para serviços de Contador, Escrituração, Folha de Pagamento, Quickbooks Help e Fiscal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/services.css" rel="stylesheet">

    <%- include ("partials/mainfooter") %> 

    <style>
h2{

color: white;
position: relative;
left: 30px;
top: 20px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 30px;
filter: drop-shadow(0 4px 3px rgb(0, 0, 0));
}

.linha1{
        height: 2px;
        width: 820px;
        background-color: #15181E;
        position: relative;
        left: 30px;
       
    
    }

    h4{

color: white;
margin-left: 30px;
left: 700px;
top: 18px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 25px;
filter: drop-shadow(0 4px 3px rgb(0, 0, 0));

}

p{
        margin-left: 30px;
        bottom: 490px;
        left: 150px;
        width: 830px;
        color: #15181E;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: justify
    }

    .infooter{

        text-align: center;
        color: grey;
        width: 550px;
        font-size: 13px;
        padding-top: 25px;
    }

    .final{
       position: absolute;
        color: grey;
        width: 550px;
        font-size: 13px;
        top: 1750px;
        left: 650px;
        
    }


    main{
        height: 1430px;
    }

    .clock{
        top: 1560px;
        padding-bottom: 50px;
    }

    footer{

        top:1640px;
        left: 450px;
    
    }



    </style>
</head>
<body>

    <%- include ("partials/navbar") %> 

    <img class="clock" src="/clock.png" alt="clock" >

    <main>

        <h2>We Provide The Following Services</h2>
        <div class="linha1"></div>

        <h4 class="h1">Accounting</h4>
        <p class="p1">We provide monthly, quarterly and annual accounting services including: accounting system setup, accounts payable, accounts receivable, bank and credit card reconciliations, construction job costing, compiled financial statement preparation and review, general ledger preparation and review, invoicing and sales tax calculation.
        </p>

        <h4 class="h2">Business and Management Consulting</h4>
        <p class="p2">We interpret complex financial reports using our knowledge and experience to analyze the strengths and weaknesses of your company; allowing you to be pro-active in your business decisions. Working with you to design and monitor budgets, we help create and implement strong financial controls to limit exposure to potential fraud – both internal and external.</p>


        <h4 class="h3">Entity Setup</h4>
        <p class="p3">We complete the entire process required to establish an LLC or Corporation including: prepare and file the necessary Arizona Corporation Commission forms, prepare Articles of Incorporation or Articles of Organization and publication of same. We obtain a Federal Employer Identification Number (EIN) and prepare and file all required state and local applications for transaction privilege (sales) tax and payroll tax licensing.
        </p>

        <h4 class="h4">Forensic Accounting and Fraud Detection</h4>
        <p class="p4"> We examine internal controls and analyze financial records in areas including: accounting reconstruction, employee theft and dishonesty claims, vendor fraud, and identifying the extent of missing cash or inventory as a result of theft or embezzlement.</p>
  
  
  
        <h4 class="h5">Payroll</h4>
        <p class="p5">We provide payroll services including: calculating employee payroll, developing employee commission structures and calculating all federal and state payroll tax deposits. Additionally, we prepare all quarterly and annual, federal and state, payroll tax forms.</p>
  
        <h4 class="h6">Quickbooks®</h4>
        <p class="p6">We customize Quickbooks® to meet your specific industry needs. We setup and maintain your accounts payable, bank accounts, inventory and invoicing, in addition to providing staff training if desired. We maximize the utility of Quickbooks® to streamline your accounting by downloading information directly from your bank and importing the data into your existing Quickbooks® bank account. This integration greatly reduces the time required to prepare monthly bank reconciliations, saving you valuable time and money. In addition to Quickbooks®, we also offer support for other accounting software programs.</p>
  
        <h4 class="h7">Year-End Accounting & Income Tax Preparation</h4>
        <p class="p7">One of the most valuable services we provide is the organizing, assembling and compiling of your year-end accounting information; enabling the accurate preparation of your business and personal tax returns. All income tax returns that we prepare are individually reviewed and signed by a CPA upon completion. We deliver to your CPA accurate financial statements, decreasing the time they need to prepare your returns.
            <br>For those clients who prefer to retain their existing CPA, we will assist your CPA by providing them with an accurate year-end profit and loss and balance sheet to ease the preparation of your income tax returns. In fact, we work with many CPA firms across the Valley doing just this. We are continually approached by CPA firms to prepare financial statements for their clients at a much more affordable cost. We provide accurate financial statements to your CPA, decreasing the time needed to prepare your returns.
        </p>
  
  
  
  
  
    </main>




    <footer>


        <p class="infooter">
            C&L Accounting, Inc. | 26815 North 31st Drive | Phoenix, Arizona 85083 | (602) 818-6339 | (candlaccounting@gmail.com)</p>


    </footer>

    <div>

        <p class="final">(c) 2010 C & L Accounting, Inc.</p>
    </div>
    
</body>
</html>