<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C&L Accounting - Atendendo a área de Phoenix para serviços de Contador, Escrituração, Folha de Pagamento, Quickbooks Help e Fiscal</title>
    <link href="./style/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>
<body>


    <header>

        <img class="CL" src="./images/Logo.png">

            
        <img class="map" src="./images/37518001016384.webp">


     <div class="botoes">
        <div class="btn1">
            <input type="submit" value="Home">
        </div>

        <div class="btn2">
            <input type="submit" value="Services">
        </div>

        <div class="btn3">
            <input type="submit" value="About Us">
        </div>

        <div class="btn4">
            <input type="submit" value="Contact Us">
        </div>

        <div class="btn5">
            <input type="submit" value="Resources">
        </div>
     </div>



    </header>

    <img class="clock" src="./images/clock.png">


    <main>

       
        

    </main>

    <footer>





    </footer>

    <div>


    </div>
    
</body>
</html>