
    <style>

        @import url('https://fonts.googleapis.com/css2?family=Anek+Odia:wght@500&family=Noto+Serif:ital,wght@1,700&display=swap');
        
        html, body {
            z-index: 1;
            width: 100%;
            height: 102%;
            margin: 0;
            padding: 0;
        }
        
        body {
            background: linear-gradient(45deg, #15181E , #172042);
            background-size: 300% 300%;
            animation: colors 3s ease;
                    
        } 
        
        @keyframes colors {
            0%{
                background-position: 0% 50% ;
            }
            50%{
                background-position: 100% 50% ;
            }
            100%{
                background-position: 0% 50% ;
        
            }
        }
        
        header{
            display:flex ;
            justify-content: flex-start;
            align-items: center;
            align-content: flex-start;
            top:28px;
            left: 330px;
            border-radius: 20px;
            background-color: #ffae00;
            height: 240px;
            width: 900px;
            position: absolute;
            box-shadow: 0 0 10px 2px rgb(0, 0, 0);
            
            
        }
        
        .CL{
            margin-bottom: 70px;
            margin-left: -90px;
            width: 500px;
            height: 500px;
            filter: drop-shadow(0 4px 3px rgb(0, 0, 0));
        
        }
        
        .map{
        
            
            box-shadow: 0 5px 10px 2px rgb(0, 0, 0);
            border-radius: 20px;
            width: 530px;
            height: 155px;
            background-color: #ffae00;
            position: absolute;
            z-index: 2;
            top: 11px;
            left: 355px;
        
        } 
        
        
        .botoes{
        
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            position: absolute;
            top: 95px;
            left: 45px;
        
        }
        
        .botoes div{
            
            margin: 90px;
            margin-left: -8px;
            padding-top: 5px;
            box-shadow: 0 5px 10px 2px rgb(0, 0, 0);
            background-color: #15181E;
            list-style: none;
            border-radius: 15px;
            height: 30px;
            width: 100px;
            text-align: center;
            cursor: pointer;
            
        
        
        }
        
        .botoes input{
        
            border: #15181E;
            background-color: #15181E;
            border-radius: 15px;
            text-decoration: none;
            color: #e6e6e6;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 15px;
            cursor: pointer;
            position: relative;
           
            
            
            
        }
        
        .botoes input:hover{
            background-color: #0e1c35;
            color: #ffae00;
            width: 100px;
            height: 35px;
            border-radius: 15px;
            margin-bottom: 10px;
            top: -6px;
           
        
            
        }

        

        
            </style>
        
        


    <header>

        <img class="CL" src="/Logo.png" alt="Logo">

            
        <img class="map" src="https://mega.ibxk.com.br//2013/8/megacurioso/37518001016384.jpg?ims=1200x480" alt="mapa">


     <div class="botoes">
        <div class="btn1">
            <a href="/home" class="href">
                <input type="submit" value="Home">
        </a>
        </div>

        <div class="btn2">
            <a href="/services" class="href">
            <input type="submit" value="Services">
        </a>
        </div>

        <div class="btn3">
            <a href="/about" class="href">
            <input type="submit" value="About Us">
        </a>
        </div>

        <div class="btn4">
            <a href="/contact" class="href">
            <input type="submit" value="Contact Us">
        </a>
        </div>

        <div class="btn5">
            <a href="/resources" class="href">
            <input type="submit" value="Resources">
        </a>
        </div>
     </div>



    </header>
